<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid">
      <header class="row">
        <div class="col-3">
          <%= link_to root_path, class: 'logo' do %>
            <div class="circle">
              <br />
              S
              <br />
              M
              <br />
              P
              <br />
              L
            </div>
          <% end %>
        </div>
        <div class="col col-sm-4 hidden-xs-down slogan">
          Simplicity is beautiful but difficult to achieve. Let's see what great (and not so great) minds have to say about simplicity.
        </div>
        <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
          <div class="link">
          <!-- Button trigger modal -->
            <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
          </div>
          <div class="link">
            <%= link_to 'About', about_path %>
          </div>
          <br />
        </div>
      </header>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <br />
              <%= f.input :saying, label: "What quote about simplicity would you like to add?", placeholder: "Simplicity makes me happy" %>
              <br />
              <%= f.input :author, label: "Who said it?", placeholder: "Alicia Keys" %>
              <br />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Add', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <hr />
    
    <br class="clear" />
    <div class="container main-content">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
    <br />
    <br />
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 more-quotes">
            <%= link_to "More Quotes", root_path, class: 'next-quote' %>
          </div>
          <div class="col-12 col-sm-6 footer-blurb">
            It's a start...by <a href="http://jaredmahoney.getforge.io/index.html">Jared M.</a><br />
            A plug for <a href="http://thefirehoseproject.com">The Firehose Project</a> - the great company that is teaching me to code.
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
